<nav class="navbar navbar-expand-lg navbar-dark bg-info">

    <a *ngIf="page=='profile'" class="navbar-brand" routerLink="/home">HSN Bank Profile Page</a>
    <a *ngIf="page=='home'" class="navbar-brand" routerLink="/home">HSN Bank Home Page</a>
    <a *ngIf="page=='home'" class="navbar-brand" routerLink="/home">HSN Bank Home Page</a>
    <a *ngIf="page=='history'" class="navbar-brand" routerLink="/home">Transaction history</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="/home/neethi/Desktop/Mean_Stack/Assignment/Bank/bankLogin.html">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul> -->
        <ul class="navbar-nav  my-2  my-lg-0 ml-auto">
            
            <li class="nav-item">
                <a class="nav-link" (click)="profileClick()" routerLink="/profile">Profile <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="logout()">Logout <span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>